In [7]:
import pandas as pd
df = pd.read_csv("/Data Analysis Project/Visualization and Analysis of COVID-19 Global Epidemic/Raw_data/DXYArea.csv")

In [2]:
# 查看数据情况
df.info()

# 重新确定一下缺失值的列
df.isnull().any()

# 获取含有空值的行数据
df[df.isnull().T.any()]

df.describe()
# 查看数学统计中，一些值是否正常，比如最小值的正负性合理否？

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337329 entries, 0 to 337328
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   continentName            337285 non-null  object
 1   continentEnglishName     337285 non-null  object
 2   countryName              337329 non-null  object
 3   countryEnglishName       318863 non-null  object
 4   provinceName             337329 non-null  object
 5   provinceEnglishName      318863 non-null  object
 6   province_zipCode         337329 non-null  int64
 7   province_confirmedCount  337329 non-null  int64
 8   province_suspectedCount  337326 non-null  float64
 9   province_curedCount      337329 non-null  int64
 10  province_deadCount       337329 non-null  int64
 11  updateTime               337329 non-null  object
 12  cityName                 104854 non-null  object
 13  cityEnglishName          100887 non-null  object
 14  city_zipCode             103588 non-null  float64
 15  city_confirmedCount      104854 non-null  float64
 16  city_suspectedCount      104854 non-null  float64
 17  city_curedCount          104854 non-null  float64
 18  city_deadCount           104854 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount
count,337329.000000,3.373290e+05,337326.00000,3.373290e+05,337329.000000,103588.000000,104854.000000,104854.000000,104854.000000,104854.000000
mean,691080.446982,5.406740e+04,23.69812,3.075597e+04,1997.658713,351181.075935,211.305453,0.200307,105.638574,7.571995
std,357361.229623,3.767389e+05,629.02511,2.208640e+05,11941.309040,158968.394823,2353.830950,5.593976,1450.013177,115.823946
min,0.000000,0.000000e+00,0.00000,0.000000e+00,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,410000.000000,2.680000e+02,0.00000,1.200000e+01,2.000000,230900.000000,6.000000,0.000000,1.000000,0.000000
50%,955001.000000,1.015000e+03,0.00000,3.430000e+02,11.000000,410200.000000,15.000000,0.000000,6.000000,0.000000
75%,971002.000000,8.791000e+03,0.00000,2.491000e+03,177.000000,445100.000000,42.000000,0.000000,21.000000,0.000000
max,990009.000000,8.338091e+06,23638.00000,6.795103e+06,222210.000000,659004.000000,50344.000000,386.000000,47300.000000,3869.000000

In [8]:
# updateTime的类型是object类型，先对其进行转换
df['updateTime'] = pd.to_datetime(df['updateTime'])

# 修改updateTime的时间格式，normalize和date输出的格式都是2020-01-01，无法良好的剔除年份
# 但是strftime性能极差，33w条数据用了2.8秒，normalize()函数只需要0.04秒，date需要0.15秒，但是都保留了年份
df['updateTime'] = df['updateTime'].dt.normalize()
# df['updateTime'] = df['updateTime'].dt.date
# df['updateTime'] = df['updateTime'].apply(lambda x : x.strftime('%m-%d'))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337329 entries, 0 to 337328
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   continentName            337285 non-null  object
 1   continentEnglishName     337285 non-null  object
 2   countryName              337329 non-null  object
 3   countryEnglishName       318863 non-null  object
 4   provinceName             337329 non-null  object
 5   provinceEnglishName      318863 non-null  object
 6   province_zipCode         337329 non-null  int64
 7   province_confirmedCount  337329 non-null  int64
 8   province_suspectedCount  337326 non-null  float64
 9   province_curedCount      337329 non-null  int64
 10  province_deadCount       337329 non-null  int64
 11  updateTime               337329 non-null  datetime64[ns]
 12  cityName                 104854 non-null  object
 13  cityEnglishName          100887 non-null  object
 14  city_zipCode             103588 non-null  float64
 15  city_confirmedCount      104854 non-null  float64
 16  city_suspectedCount      104854 non-null  float64
 17  city_curedCount          104854 non-null  float64
 18  city_deadCount           104854 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(4), object(8)
memory usage: 38.6+ MB

In [9]:
# 数据清洗
# 根据疫情每日更新时间，和省份这两列来判断重复值，并删除重复值，仅保留第一列数据
df.drop_duplicates(subset=['updateTime','provinceName'],keep='first',inplace=True)
df

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,updateTime,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount
0,北美洲,North America,美国,United States of America,美国,United States of America,971002,8338091,0.0,3323354,222210,2020-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,欧洲,Europe,法国,France,法国,France,961002,957421,0.0,107652,34048,2020-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,亚洲,Asia,印度,India,印度,India,953003,7706946,0.0,6795103,116616,2020-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,欧洲,Europe,英国,United Kingdom,英国,United Kingdom,961007,789229,0.0,539,44158,2020-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,南美洲,South America,巴西,Brazil,巴西,Brazil,973003,5300649,0.0,4721593,155459,2020-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337311,亚洲,Asia,中国,China,云南省,Yunnan,530000,1,0.0,0,0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337319,亚洲,Asia,中国,China,吉林省,Jilin,220000,0,1.0,0,0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337325,亚洲,Asia,中国,China,台湾,Taiwan,710000,1,0.0,0,0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337326,亚洲,Asia,中国,Hongkong,香港,Hongkong,810000,0,117.0,0,0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337327,亚洲,Asia,中国,China,黑龙江省,Heilongjiang,230000,0,1.0,0,0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# 输出Excel文件进行校验
df.to_excel('./out.xlsx')

In [12]:
# 清洗后的数据，查看空值
df.info()
df.isnull().any()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47561 entries, 0 to 337327
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   continentName            47523 non-null  object
 1   continentEnglishName     47523 non-null  object
 2   countryName              47561 non-null  object
 3   countryEnglishName       42896 non-null  object
 4   provinceName             47561 non-null  object
 5   provinceEnglishName      42896 non-null  object
 6   province_zipCode         47561 non-null  int64
 7   province_confirmedCount  47561 non-null  int64
 8   province_suspectedCount  47560 non-null  float64
 9   province_curedCount      47561 non-null  int64
 10  province_deadCount       47561 non-null  int64
 11  updateTime               47561 non-null  datetime64[ns]
 12  cityName                 3214 non-null   object
 13  cityEnglishName          2096 non-null   object
 14  city_zipCode             3202 non-null   float64
 15  city_confirmedCount      3214 non-null   float64
 16  city_suspectedCount      3214 non-null   float64
 17  city_curedCount          3214 non-null   float64
 18  city_deadCount           3214 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(4), object(8)
memory usage: 5.8+ MB

continentName               True
continentEnglishName        True
countryName                False
countryEnglishName          True
provinceName               False
provinceEnglishName         True
province_zipCode           False
province_confirmedCount    False
province_suspectedCount     True
province_curedCount        False
province_deadCount         False
updateTime                 False
cityName                    True
cityEnglishName             True
city_zipCode                True
city_confirmedCount         True
city_suspectedCount         True
city_curedCount             True
city_deadCount              True
dtype: bool

In [24]:
# 查看需要补全英文名的国家，绘制疫情地图时需要，一共需要收集补全34个国家英文名
df1 = df[df['provinceEnglishName'].isnull().values==True]
df1.drop_duplicates(subset=['provinceName'],keep='first',inplace=True)
df1['provinceName'],df1.shape[0]

(67            吉尔吉斯斯坦
 71                黑山
 92             瓜德罗普岛
 107              阿鲁巴
 109              马约特
 112           赞比亚共和国
 125              佛得角
 143              南苏丹
 145          美属维尔京群岛
 148            刚果（布）
 151            荷属圣马丁
 153        特克斯和凯科斯群岛
 166              百慕大
 168          荷兰加勒比地区
 243             库拉索岛
 330            几内亚比绍
 337            也门共和国
 346           布隆迪共和国
 348              科摩罗
 352            厄立特里亚
 365        北马里亚纳群岛联邦
 817           圣巴泰勒米岛
 818          英属维尔京群岛
 821             多米尼克
 822             格林那达
 1096             东帝汶
 1099             格陵兰
 5188          新喀里多尼亚
 5192      圣皮埃尔和密克隆群岛
 17604        圣其茨和尼维斯
 82692          蒙特塞拉特
 87201          福克兰群岛
 87211            安圭拉
 243212           科索沃
 Name: provinceName, dtype: object,
 34)